<mat-toolbar color="accent">
  <div class="flexbox">
    <span style="margin-right: 2rem;">Hotel Booking</span>

    <div>
      <button mat-flat-button routerLink="/hotel" class="btn">Hotel</button>
      <button mat-flat-button routerLink="/search-hotel" class="btn">
        Search Hotel
      </button>
      <button routerLink="/booking" class="btn" mat-flat-button>
        My Bookings
      </button>
      <button (click)="logout($event)" class="btn" mat-flat-button>
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
