<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="accent">Signup Page</mat-toolbar>

    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class='login-form'
      [formGroup]="signupForm"
    >
      <!--      value: {{signupForm.value | json}}-->
      <mat-form-field>
        <label>
          <input
            formControlName="email"
            type="text"
            matInput
            placeholder="email"
          />
        </label>

        <mat-error *ngIf="email.invalid && email.touched">
          Check Your email plzzzz
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input
            type="password"
            matInput
            placeholder="password"
            formControlName="password"
          />
        </label>

        <mat-error *ngIf="password.invalid && password.touched">
          Check Your password plzzzz
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input
            type="text"
            matInput
            placeholder="First name"
            formControlName="firstName"
          />
        </label>

        <mat-error *ngIf="firstName.invalid && firstName.touched">
          number cannot be included
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input
            type="text"
            matInput
            placeholder="Last name"
            formControlName="lastName"
          />
        </label>

        <mat-error *ngIf="lastName.invalid && lastName.touched">
          number cannot be included
        </mat-error>
      </mat-form-field>



      <button mat-raised-button color="accent" type="submit" (click)="submit($event)">Signup</button>
    </form>
  </mat-card>
</div>
