<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="accent">Sign In</mat-toolbar>

    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
      [formGroup]="loginForm"
    >
      <mat-form-field>
        <label>
          <input
            formControlName="email"
            type="text"
            matInput
            placeholder="Email"
          />
        </label>

        <mat-error *ngIf="email.invalid && email.touched">
          Invalid email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </label>

        <mat-error *ngIf="password.invalid && password.touched">
          Invalid password
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="submit($event)"
      >
        Sign in
      </button>
      <button
        routerLink="/signup"
        class="btn"
        color="basic"
        mat-stroked-button
        style="margin-top: 1rem"
      >
        Got to Sign Up page
      </button>
    </form>
  </mat-card>
</div>
